#################################################################################################
#
# デプロイ用ワークフローファイルのサンプル
#
# ファイル名の {envName} およびワークフローファイル内の {envName}, {branchName} を以下のルールを元に書き換えて使用してください。
#
# {envName}: parameter.ts の deploy_envs のキー名と一致させてください。（例: -dev, -stg, -prod）
# {branchName}: デプロイをトリガーするブランチ名を指定してください。（例: main, stg, prod）
#
# secrets.AWS_ROLE_ARN をリポジトリシークレットに設定してください。
# 参考: https://github.com/aws-actions/configure-aws-credentials?tab=readme-ov-file#quick-start-oidc-recommended
# ※ 複数のAWSアカウントを使う場合は、AWS_ROLE_ARN_DEV等、環境名を付与してください。
#
#################################################################################################

name: "Deploy to {envName}"
on:
  push:
    branches:
      - {branchName}
  workflow_dispatch:

env:
  ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
  SESSION_NAME: gh-oidc-${{ github.run_id }}-${{ github.run_attempt }}
  CONTEXT_DEPLOY_ENV: "-c env={envName}"

permissions:
  contents: read
  id-token: write
  actions: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Node.js
        uses: actions/setup-node@53b83947a5a98c8d113130e565377fae1a50d02f # v6.3.0
        with:
          node-version: "22.22.2"
          cache: npm
          cache-dependency-path: .

      - name: Install dependencies
        run: npm ci

      - uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: ap-northeast-1

      - name: Deploy
        run: npm -w packages/cdk run cdk -- deploy --all --require-approval never --no-color ${{ env.CONTEXT_DEPLOY_ENV }}
